[Unit]
Description=process-exporter
Documentation=https://github.com/ncabatoff/process-exporter
After=network.target

[Service]
Type=simple
ExecStart=/home/work/process-exporter/process-exporter -config.path=/home/work/process-exporter/process-conf.yaml
Restart=always

[Install]
WantedBy=multi-user.target